---
import HomeHeader from "@/components/HomeHeader.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Edward Zhou">
  <HomeHeader />
  <main class="h-96 w-full">
    <h1>[main content]</h1>
    <a href="/projects">Go to projects</a>
  </main>
</Layout>
