---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import HomeHeader from "../components/HomeHeader.astro";
---

<Layout title="Edward Zhou">
  <HomeHeader />
  <main class="w-full h-96">
    <h1>[main content]</h1>
    <a href="/projects">Go to projects</a>
  </main>
</Layout>
