---
import Layout from "@/layouts/Layout.astro";
import { getCollection } from "astro:content";

const projects = await getCollection("projects");
console.log(projects);
---

<Layout title="Projects | Edward Zhou">
  <main>
    <h1 class="red p-4 text-8xl">Projects</h1>
    {
      projects.map((project) => (
        <>
          <a href={`/projects/${project.slug}`}>
            <h2 class="text-3xl">{project.data.title}</h2>
          </a>
          <p class="line-clamp-2 text-xl text-gray-800">{project.body}</p>
        </>
      ))
    }
  </main>
</Layout>
