---

---

<header class="w-full min-h-dvh h-dvh">
  <div class="w-3/5 h-full bg-slate-300 flex p-16 items-center">
    <h1 class="text-8xl text-red-500 p-4">Edward <br /> Zhou</h1>
  </div>
</header>
