---

---

<header class="h-dvh min-h-dvh w-full">
  <div class="flex h-full w-3/5 items-center bg-slate-300 p-16">
    <h1 class="p-4 text-8xl text-red-500">Edward <br /> Zhou</h1>
  </div>
</header>
