---

---

<header class="h-dvh min-h-dvh w-full">
  <div
    class="flex h-full w-full items-center justify-center p-16 max-lg:flex-col"
  >
    <div class="flex gap-8">
      <h1 class="px-8 text-right text-8xl font-black text-red-500">
        Edward <br /> Zhou
      </h1>
      <span class="z-10 h-full w-6 bg-blue-500"></span>
    </div>
    <div class="group flex h-56 w-96 gap-8 overflow-hidden">
      <span class="z-10 h-full w-6 bg-blue-500"></span>
      <div
        class="flex h-full flex-col justify-center gap-4 py-4 text-2xl font-bold"
      >
        <h3
          class="-translate-x-96 text-red-700 transition-all duration-300 hover:tracking-widest group-hover:translate-x-0"
        >
          Creative Technology
        </h3>
        <h3
          class="-translate-x-96 text-yellow-700 transition-all duration-500 hover:tracking-widest group-hover:translate-x-0"
        >
          Web Development
        </h3>
        <h3
          class="-translate-x-96 text-green-700 transition-all duration-700 hover:tracking-widest group-hover:translate-x-0"
        >
          Technical Direction
        </h3>
      </div>
    </div>
  </div>
</header>
